/* Error: Undefined mixin.
 *    ,
 * 1  | / @include breakpoint('under', 'md'){
 * 2  | |   body{
 * 3  | |     font-size: 1.25rem !important;
 * 4  | |   }
 * 5  | |   header{
 * 6  | |     height: 2rem !important;
 * 7  | |     font-size: 1.25rem;
 * 8  | |     &:after{
 * 9  | |       content: " ";
 * 10 | |       position: absolute;
 * 11 | |       top: 1.25rem !important;
 * 12 | |       height: 50px !important;
 * 13 | |       left: 0;
 * 14 | |       width: 100%;
 * 15 | |       background-image: url('/assets/images/interface/header-mobile.svg') !important;
 * 16 | |       background-size: cover;
 * 17 | |       //background-position: 100% 100%;
 * 18 | |     }
 * 19 | |   }
 * 20 | |   main{
 * 21 | |     height: calc(100vh - 3rem);
 * 22 | |     margin-top: 3rem;
 * 23 | |     flex-direction: column-reverse;
 * 24 | |     justify-content: center;
 * 25 | |     align-items: center;
 * 26 | |     text-align: center;
 * 27 | |     .left,.right{
 * 28 | |       width: 100% !important;
 * 29 | |     }
 * 30 | |     #animal-title{
 * 31 | |       //font-size: ;
 * 32 | |     }
 * 33 | |     #animal-image{
 * 34 | |         height: 50vh !important;
 * 35 | |         max-width: 90vw !important;
 * 36 | |         width: auto;
 * 37 | |     }
 * 38 | |     #animal-facts{
 * 39 | |       display: none;
 * 40 | |     }
 * 41 | |   }
 * 42 | |   
 * 43 | |   #mlz-tutorial{
 * 44 | |     .modal-back{
 * 45 | |       width: 100%;
 * 46 | |       height: 100%;
 * 47 | |       background: black;
 * 48 | |       opacity: .5;
 * 49 | |       position: absolute;
 * 50 | |       left: 0;
 * 51 | |       top: 0;
 * 52 | |     }
 * 53 | |     .modal{
 * 54 | |       width: calc(90% - 20px) !important;
 * 55 | |       display: flex;
 * 56 | |       flex-direction: column;
 * 57 | |       justify-content: center;
 * 58 | |       align-items: center;
 * 59 | |       left: calc(5% - 10px) !important;
 * 60 | |       top: calc(5vh - 10px);
 * 61 | |       .modal-head{
 * 62 | |         font-size: 1.5rem !important;
 * 63 | |       }
 * 64 | |       .modal-body{
 * 65 | |         display: flex;
 * 66 | |         flex-direction: column;
 * 67 | |         justify-content: flex-start;
 * 68 | |         align-items: center;
 * 69 | |         flex: 1;
 * 70 | |         .help-block{
 * 71 | |           .hp-right{
 * 72 | |             font-size: 16px !important;
 * 73 | |             
 * 74 | |           }
 * 75 | |         }
 * 76 | |       }
 * 77 | |     }
 * 78 | |   }
 * 79 | \ }
 *    '
 *   main.sm.scss 1:1  root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: "Error: Undefined mixin.\a    \2577 \a 1  \2502  \250c  @include breakpoint('under', 'md'){\a 2  \2502  \2502    body{\a 3  \2502  \2502      font-size: 1.25rem !important;\a 4  \2502  \2502    }\a 5  \2502  \2502    header{\a 6  \2502  \2502      height: 2rem !important;\a 7  \2502  \2502      font-size: 1.25rem;\a 8  \2502  \2502      &:after{\a 9  \2502  \2502        content: \" \";\a 10 \2502  \2502        position: absolute;\a 11 \2502  \2502        top: 1.25rem !important;\a 12 \2502  \2502        height: 50px !important;\a 13 \2502  \2502        left: 0;\a 14 \2502  \2502        width: 100%;\a 15 \2502  \2502        background-image: url('/assets/images/interface/header-mobile.svg') !important;\a 16 \2502  \2502        background-size: cover;\a 17 \2502  \2502        //background-position: 100% 100%;\a 18 \2502  \2502      }\a 19 \2502  \2502    }\a 20 \2502  \2502    main{\a 21 \2502  \2502      height: calc(100vh - 3rem);\a 22 \2502  \2502      margin-top: 3rem;\a 23 \2502  \2502      flex-direction: column-reverse;\a 24 \2502  \2502      justify-content: center;\a 25 \2502  \2502      align-items: center;\a 26 \2502  \2502      text-align: center;\a 27 \2502  \2502      .left,.right{\a 28 \2502  \2502        width: 100% !important;\a 29 \2502  \2502      }\a 30 \2502  \2502      #animal-title{\a 31 \2502  \2502        //font-size: ;\a 32 \2502  \2502      }\a 33 \2502  \2502      #animal-image{\a 34 \2502  \2502          height: 50vh !important;\a 35 \2502  \2502          max-width: 90vw !important;\a 36 \2502  \2502          width: auto;\a 37 \2502  \2502      }\a 38 \2502  \2502      #animal-facts{\a 39 \2502  \2502        display: none;\a 40 \2502  \2502      }\a 41 \2502  \2502    }\a 42 \2502  \2502    \a 43 \2502  \2502    #mlz-tutorial{\a 44 \2502  \2502      .modal-back{\a 45 \2502  \2502        width: 100%;\a 46 \2502  \2502        height: 100%;\a 47 \2502  \2502        background: black;\a 48 \2502  \2502        opacity: .5;\a 49 \2502  \2502        position: absolute;\a 50 \2502  \2502        left: 0;\a 51 \2502  \2502        top: 0;\a 52 \2502  \2502      }\a 53 \2502  \2502      .modal{\a 54 \2502  \2502        width: calc(90% - 20px) !important;\a 55 \2502  \2502        display: flex;\a 56 \2502  \2502        flex-direction: column;\a 57 \2502  \2502        justify-content: center;\a 58 \2502  \2502        align-items: center;\a 59 \2502  \2502        left: calc(5% - 10px) !important;\a 60 \2502  \2502        top: calc(5vh - 10px);\a 61 \2502  \2502        .modal-head{\a 62 \2502  \2502          font-size: 1.5rem !important;\a 63 \2502  \2502        }\a 64 \2502  \2502        .modal-body{\a 65 \2502  \2502          display: flex;\a 66 \2502  \2502          flex-direction: column;\a 67 \2502  \2502          justify-content: flex-start;\a 68 \2502  \2502          align-items: center;\a 69 \2502  \2502          flex: 1;\a 70 \2502  \2502          .help-block{\a 71 \2502  \2502            .hp-right{\a 72 \2502  \2502              font-size: 16px !important;\a 73 \2502  \2502              \a 74 \2502  \2502            }\a 75 \2502  \2502          }\a 76 \2502  \2502        }\a 77 \2502  \2502      }\a 78 \2502  \2502    }\a 79 \2502  \2514  }\a    \2575 \a   main.sm.scss 1:1  root stylesheet";
}
