@import "mixins";
@import "main.sm";

html, body{
  font-family: 'Sacramento', cursive;
  height: 100vh;
  width: 100vw;
  font-size: 2em;
  margin: 0;
  overflow: hidden;
  transition: background-color linear 300ms;
  color:#222222;
}

body{
  &.animal-changing{
    main{
      opacity: 0;
    }
  }
}
header{
  width: 100%;
  height: 100px;
  display: flex;
  position: relative;
  &:after{
    content: " ";
    position: absolute;
    top: 55px;
    height: 150px;
    left: 0;
    width: 100%;
    background-image: url('/assets/images/interface/header-2.svg');
    background-size: contain;
    background-repeat: no-repeat;

  }
  .title{
    margin: auto;
    font-size: 90%;
  }
}
#mlz-tutorial{
  display: none;
  .modal-back{
    width: 100vw;
    height: 100vh;
    background: black;
    opacity: .5;
    position: absolute;
    left: 0;
    top: 0;
  }
  .modal-page{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
  }
  .modal{
    background: rgba(255,255,255,.9);
    width: 90vw;
    padding: 20px;
    max-width: 640px;
    height: calc(90vh - 20px);
    border-radius: 20px;
    position: absolute;
    left: calc(50% - 320px);
    top: calc(5vh - 10px);
    .modal-head{
      width: 100%;
      text-align: center;
      font-size: 2.15rem;
    }
    .modal-body{
      padding: 20px;
      flex: 1;
      .help-block{
        display: flex;
        border: 2px dashed;
        border-radius: 10px;
        padding: 20px;
        align-items: center;
        grid-gap: 20px;
        &.inverse{
          flex-direction: row-reverse;
        }
        &.column{
          flex-direction: column;
        }
        .hp-left{
          display: flex;
          justify-content: center;
          align-items: center;
          .r-180{
            transform: rotate(180deg);
          }
          img{
            margin: 0 1rem;
          }
        }
        .hp-right{
          font-family: 'Quicksand';
          font-size: 24px;
        
        }
      }
    }
    .modal-footer{
      flex: 0;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 1.25rem;
      a{
        cursor:pointer;
      }
    }
  }
}
.my-4{
  margin: 1rem 0;
}
main{
  height: calc(100vh - 280px);
  width: calc(100vw - 10%);
  padding: 0 5% ;
  display: flex;
  --transition-duration: 200ms;
  -webkit-transition: opacity var(--transition-duration) ease-in-out;
  -moz-transition: opacity var(--transition-duration) ease-in-out;
  -o-transition: opacity var(--transition-duration)s ease-in-out;
  transition: opacity var(--transition-duration) ease-in-out;
  .left{
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    #animal-title{
      font-size: 150%;
      color: var(--accent-color);
    }
    #animal-description{
      //font-size: 94px;
      font-size: 50%;
      font-family: "Quicksand";
      text-align: center;
      i{
        font-weight: 600;
        color: var(--accent-color);
        cursor: pointer;
      }
    }
    #animal-facts{
      text-align: center;
      //font-size: 48px;
      font-size: 24px;
      font-family: "Quicksand";
      font-weight: 500;
      margin-top: 60px;
      color: var(--accent-color);
      
      p{
        margin: 10px 0;
      }
    }
  
  }
  .right{
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    #animal-image{
      max-width: 50vw;
      max-height: calc(100vh - 350px);
      width: auto;
      height: auto;
    }
  }
}
footer{
  height: 120px;
}


#mlz-menu{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: white;
  transform: translateY(-100%);
  opacity: 0;
  transition: all linear 200ms;
  &.visible{
    transform: translateY(0);
    opacity: 1;
  }
  .cards{
    display: flex;
    flex-wrap: wrap;
    .card{
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: calc(50% - 40px);
      height: auto;
      margin: 20px;
      font-family: "Quicksand";
      font-weight: 500;
      font-size: 0.65rem;
      border-radius: 10px;
      padding: 10px 0;
      cursor: pointer;
    }
  }

}
